{% extends 'base.html.twig' %}

{% block title %}Mes Commandes!{% endblock %}

{% block content %}
<a href="{{path('account')}}" class="text-decoration-none text-info">
  <img src="{{ asset ('assets/icon/back.png')}}" alt="Retour" height="15px">
  Mon compte
</a>

<h1 class="mt-4"><strong> Mes Commandes </strong></h1>
<p>Bienvenue <strong>{{app.user.firstname}}</strong> sur ton récapitulatif de commande</p>

{% if orders |length !=0 %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Passée le</th>
      <th scope="col">Statut</th>
      <th scope="col">Référence</th>
      <th scope="col">N° de Produit</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{order.createdAt|date('d/m/Y')}}</td>
      <td>{% if order.state == 1 %}
        Payée
        {% elseif order.state == 2 %}
        En préparation
        {% elseif order.state == 3 %}
        En Livraison
        {% endif %}</td>
      <td>{{order.reference}}</td>
      <td>{{order.orderDetails|length}}</td>
      <td>{{((order.carrierPrice + order.getTotal)/100)|number_format(2, ',')}} €</td>
      <td class='text-right'><a href="{{path('account_order', {'reference' : order.reference})}}">Voir ma commande</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="text-center">Vous n'avez passé aucune commande pour aller à la boutique <a href="{{path('home')}}"
    class="text-decoration-none"> <strong> cliquer ici </strong></a></p>
{% endif %}
{% endblock %}