{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block content %}
<a href="{{path('app_account')}}" class="text-decoration-none text-info">
    <img src="{{ asset ('assets/icon/back.png')}}" alt="Retour" height = "15px">
    Mon compte
</a>
<a href="{{path('account_address_add')}}" class="btn btn-info btn-sm float-right"> Ajouter une adresse</a><br>
<h1>Mes adresses</h1>
<p>Bienvenue <strong>{{app.user.firstname}}</strong> sur ta fiche d'adresses</p>
<hr>
{% if app.user.addresses|length !=0 %}

{% else %}
<p class ="text-center">Vous n'avez aucune adresses, pour en ajouter une <a href="{{path('account_address_add')}}" class="text-decoration-none">cliquer ici</a></p>
{% endif %}

{% endblock %}
