{% extends 'base.html.twig' %}

{% block title %}Gestion mot de passe!{% endblock %}

{% block content %}
<a href="{{path('account')}}" class="text-decoration-none text-info">
    <img src="{{ asset ('assets/icon/back.png')}}" alt="Retour" height = "15px">
    Mon compte
</a>
<h1 class ="mt-4">  <strong> Modification du mot de passe </strong></h1>
 <hr>
 {{form(form)}}

 {% if notification %}
    <div class="alert alert-info alert-success ">{{notification}}</div>
 {% endif %}

 {% if notification2 %}
    <div class="alert alert-info alert-danger ">{{notification2}}</div>
 {% endif %}
 <hr>
{% endblock %}
