{% extends 'base.html.twig' %}

{% block title %}Nos produits!{% endblock %}

{% block content %}
<h1>Nos produits</h1>
<hr>

<div class="row">
    <div class="col-md-3">
        <h3>Filtrer</h3>
        <hr>
        {{form(form)}}
    </div>

    <div class="col-md-9">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div>
            <a href="{{ path('product_slug', {'slug' : product.slug }) }}" class ="text-decoration-none text-secondary">    
                        
                    <img src="uploads/{{product.image}}" class="card-img-top" alt="{{product.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text"><small>{{product.subtitle}}</small></p>
                        <span> {{(product.prix / 100) | number_format (2,',')}}€</span></a>                    
                    </div>
                </a>
            </div>    
        </div>
        {% endfor %}
    </div>
    </div>
</div>



{% endblock %}