{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-7 ">
            <img src="/uploads/{{product.image}}" class="card-img-top" alt="{{product.name}}">
        </div>
        <div class="col ">
            <div class="container pt-5">
                <div class="mb-4">
                    <h3><strong>{{product.name}} <small class="text-info">#{{product.category}}</small></strong></h3>
                    <p> <small> <strong>{{product.subtitle}}</strong></small> <br>
                        <small><strong>
                                {% if moyenne != null %}
                                <span class="notation"> {{moyenne}} / 5 de moyenne par nos utilisateurs </span>
                                {% else %}
                                <span class="notation"> Aucune note </span>
                                {% endif %}
                        </small></strong>
                    </p>
                </div>
                <p>{{product.description}}</p>
                <hr>
                <span>
                    <strong> {{(product.price / 100) | number_format (2,',')}} € </strong><small>Tva Incluse</small>
                </span>
                <br>
                 {# Système de Favori  #}
                <div class=" pt-3">
                    <div>                        
                        <a href="{{ path('add_to_cart', { 'id' : product.id })}}" class="btn btn-info w-75 ">Acheter</a>

                        {# Si favoris n'est pas égale a true alors on affiche le bouton valeur par défaut #}
                        {% if favori != true %}
                        <a class="btn btn-info text-light" href="{{ path('add_to_fav', { 'slug' : product.slug })}}">                          
                             <div><i class="bi bi-balloon-heart"></i></div>
                        </a>
                        {# Sinon on affiche le bouton favoris active #}
                        {% else %}
                        <a class="btn btn-success text-light" href="{{ path('remove_to_fav', { 'slug' : product.slug })}}">                           
                            <div><i class="bi bi-balloon-heart"></i></div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if best |length != 0 %}
    <hr>
    <h3 class="mt-3"> <strong> Nos Produit les plus achetés</strong></h3>
    <div class="row">
        {% for product in best %}
        <div class="col-md-3">
            <div class="size-forced">
                {% include "product/single_product.html.twig" %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">
        {# Système de commentaire  #}
    {% if comments |length != 0 %}

        {% if commentStatut == 2 %}
        <div class="mb-2">
            <div class="border p-2 row">            
                {% for com in comments %}                                      
                        <div class="col-10"><strong> {{com.title}} </strong></div>
                        <div class="col-2">{{com.note}} / 5</div>
                        <div class="col-12">{{com.comment}}</div>                                             
                {% endfor %}
            </div>
        </div>

        {% elseif commentStatut == 1 %}
        <div class="mb-2">
            <div class="border p-2 row">
                <div class="col-12">
                    <p> Ajouter un commentaire</p><br>
                    {{form(form)}}
                    <hr>
                </div>
                {% for com in comments %}
                <div class=" p-2 row w-100">
                    <div class="col-10"><strong> {{com.title}} </strong></div>
                    <div class="col-2">{{com.note}} / 5</div>
                    <div class="col-12 mt-2">{{com.comment}}</div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% else %}
        <div class="mb-2">
            <div class="border p-2 row">
                <div class="col-12">
                    <a href="{{path('app_login')}}">Ce connecter pour ajouter un commentaire ?</a>
                    <hr>
                </div>
            </div>
            {% for com in comments %}
            <div class="border p-2 row">
                <div class="col-10"><strong> {{com.title}} </strong></div>
                <div class="col-2">{{com.note}} / 5</div>
                <div class="col-12 mt-2">{{com.comment}}</div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {%else%}

        {% if commentStatut == 1  %}
        <div class="mb-2">
            <div class="border p-2 row">
                <div class="col-12">
                    <strong>
                        <p class="mb-1"> Ajouter un commentaire </p>
                    </strong> <br>
                    {{form(form)}}
                    <hr>
                </div>
                <div class="col-12">
                    <strong>
                        <p> Aucun commentaire disponible </p>
                    </strong>
                </div>
            </div>
        </div>

        {% else %}
        <div class="mb-2">
            <div class="border p-2 row">
                <div class="col-12"><a href="{{path('app_login')}}">Ce connecter pour ajouter un commentaire ?</a></div>
                <div class="col-12">
                    <p>Aucun commentaire disponible</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}