{% extends 'base.html.twig' %}

{% block title %}Actualité Geek du moment!{% endblock %}

{% block actualite %}

<div>
    <div class="loading-bar"></div>
    <div class="background-actu">
        {% if is_granted('ROLE_ADMIN') %}
        <div class="admin">
            <button><a class="text-decoration-none" href="{{ path('actuality_check')}}">admin</a></button>
        </div>
        {% endif %}
        <div class='all-content'>
            <nav id="navigation" class="navigation-side">
                <div class="nb-level">
                    <ul class="nb-level2">
                        <li class="align"><a class="text-decoration-none" href="{{path ('home')}}">
                                <div class="hover-logo">
                                    <div><i class="bi bi-house"></i></div>
                                    <div>Acceuil</div>
                                </div>
                            </a></li>
                        <li class="align"><a class="text-decoration-none" href="{{path ('products')}}">
                                <div class="hover-logo">
                                    <div><i class="bi bi-cart"></i></div>
                                    <div>Shop</div>
                                </div>
                            </a></li>

                        {% if app.user %}
                        <li class="align">
                            <a class="text-decoration-none" href="{{path ('account')}}">
                                <div class="hover-logo">
                                    <div><i class="bi bi-person"></i>
                                    </div>
                                    <div>{{app.user.firstname}}</div>
                                </div>
                            </a>
                        </li>
                        <li class="align">
                            <a class="text-decoration-none" href="{{path ('app_logout')}}">
                                <div class="hover-logo">
                                    <div><i class="bi bi-box-arrow-in-left"></i></div>
                                    <div>Deconnexion</div>
                                </div>
                            </a>
                        </li>

                        {% else %}
                        <li class="align">
                            <a class="text-decoration-none" href="{{path ('app_login')}}">
                                <div class="hover-logo">
                                    <div><i class="bi bi-box-arrow-in-right"></i></div>
                                    <div>Connexion</div>
                                </div>
                            </a>
                        </li>
                        <li class="align">
                            <a class="text-decoration-none" href="{{path ('register')}}">
                                <div class="hover-logo">
                                    <div><i class="bi bi-pen"></i></div>
                                    <div>Inscription</div>
                                </div>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </nav>

            <div class="article">
                {% if posts|length != 0 %}
                {% for post in posts %}
                <a href="{{ path('actuality_show', { 'id' : post.id })}}" class="text-decoration-none text-secondary">
                    <div class="content-post">
                        <div>
                            <img src="/uploads/{{post.image}}" class="post-image" alt="{{post.title}}">
                        </div>
                        <div class="post-text">
                            <div class='date-post'> <strong> {{post.createdAt|date("M/D/Y")}}</strong></div>
                            <div>
                                <h3 class="color-title inline-text"> {{post.title}}</h3>
                                <h6 class="subtitle-post">{{post.subtitle}}</h6>
                            </div>
                            <div>
                                <p class="size-text">{{post.content|u.truncate(300,'... Lire la suite')}}</p>
                            </div>
                        </div>
                    </div>
                </a>
                <hr>
                {% endfor %}
                {% else %}
                <img src="{{ asset ('assets/image/Bientot.png')}}" alt="En construction">
                {# Aucun Post disponible #}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}