{% extends 'base.html.twig' %}

{% block title %}Actualité Geek du moment!{% endblock %}

{% block actualite %}

<div>
    <div class= "container background-actu">
        {% if posts|length != 0 %}
    {% for post in posts %}       
        <img src="/uploads/{{post.image}}" class="post-image" alt="{{post.title}}">                
        {{post.title}}
        {{post.subtitle}}
        {{post.createdAt|date("m/d/Y")}}
        {{post.content}}
    {% endfor %}
{% else %}
    <img src="{{ asset ('assets/image/Bientot.png')}}" alt="En construction">
    {# Aucun Post disponible #}
{% endif %}
    </div>
</div>



{% endblock %}