{% extends 'base.html.twig' %}

{% block title %}Merci pour votre Commande{% endblock %}

{% block content %}
<h2>Confirmation de paiement</h2>
<p>Bonjour {{order.user.firstname}} Merci de votre confiance et de votre commande n° {{order.reference}} <br>
Un mail de confirmation vous sera transmis à l'adresse suivante : {{order.user.email}} quand votre commande sera prête à l'envoi. <br>
Pour suivre votre commande cliqué sur le lien suivant : <a href="{{path('account_orders')}}">Cliquer ici</a>
<hr>
La société <strong>{{order.carrierName}}</strong> vous contacterons et donnerons votre numéro de suivit. <br>
<strong>Livraison à l'adresse: </strong> <br> <br>

{{order.delivery|raw}} <br>
</p>
<hr>

{% endblock %}
